NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://user:password@localhost/dbname

THROTTLE_TTL=60000
THROTTLE_LIMIT=20

JWT_SECRET=ultron.jwt.protocol.v2.earth.locked
JWT_EXPIRATION_TIME=
JWT_REFRESH_TOKEN_TIMEOUT=
